.text-center {
    text-align: center;
}

.color {
    align-items: center;
}

h1,
h2,
h3,
h4 {
    width: 100%;
}

.widthFull {
    width: 40%;
    background-color: #00ff99;
    text-align: start;
}

.ingredient {
    margin: 5px;
}
